<h1>Cifrado eficiente</h1>

<form method="post">
    <label> Contenido a cifrar</label>
    <input type="text" name="contenido" />
    <label>Resutlado cifrado</label>
    <textarea name="resultado" rows="5"></textarea>
    <button name="accion" value="comparar">Enviar</button>
    <button name="accion" value="cifrar"> Cifrar</button>
</form>

<h1>@ViewData["TEXTOCIFRADO"]</h1>
@ViewData["MENSAJE"]