
<form method="post">
    <label>To:</label>
    <input type="text" class="form-comtrol" name="to"
    <label>Asunto</label>
    <input type="text" name="asunto" class="form-comtrol" />
    <label>Mensaje</label>
    <textarea name="mensaje" class="form-comtrol"</textarea>
        <button class="btn btn-info">Enviar email</button>

</form>

<h2>@ViewData["MENSAJE"]-</h2>