<h1 style="color:blue">Ejemplos Caching</h1>

<ul class="list-group">
	<li class="list-group-item">
		<a asp-controller="Caching" asp-action="MemoriaDistribuida">
			Memoria distribuida
		</a>
	</li>
	<li class="list-group-item">
		<a asp-controller="Caching" asp-action="MemoriaPersonalizada">
			Memoria personalizada
		</a>
	</li>
	<li class="list-group-item">
		<a asp-controller="Caching" asp-action="MemoriaPersonalizada" asp-route-tiempo="15">
			Mem personalizada 15 segs
		</a>
	</li>
	<li class="list-group-item">
		<a asp-controller="Caching" asp-action="MemoriaPersonalizada" asp-route-tiempo="30">
			Mem personalizada 30 segs
		</a>
	</li>
	<li class="list-group-item">
		<a asp-controller="UploadFiles" asp-action="SubirFichero">Ficherosss</a>
	</li>
</ul>