<h1>Subir ficheors</h1>

<form method="post" 
	enctype="multipart/form-data">

	<input type="file" name="fichero" class="form-control" />
	<button class="btn btn-info">Subir fichero</button>
</form>

<h2>@ViewData["MENSAJE"]</h2>
<h2>@ViewData["URL"]</h2>

<img src='@ViewData["URL"]'>

